.upbro_main-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(138, 54, 54, 0.95);
}
@media only screen and (max-width: 900px) {
  .upbro_main-container {
    position: absolute;
    height: auto;
    min-height: 100%;
  }
}
.upbro_main-container .upbro_close {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
}
.upbro_main-container .upbro_close:hover {
  opacity: 0.6;
}
.upbro_main-container .upbro_close img {
  width: 100%;
  height: auto;
}
.upbro_main-container .upbro_description-container {
  display: table;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .upbro_main-container .upbro_description-container {
    padding: 80px 0;
  }
}
.upbro_main-container .upbro_description-container .upbro_description {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_description-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_description-content {
  padding: 15px 0 40px;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_description-content p {
  font-size: 20px;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_description-content p.upbro_please {
  font-size: 16px;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container:before,
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container:after {
  content: " ";
  display: table;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container:after {
  clear: both;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container .upbro_browsers-item {
  float: left;
  width: 20%;
}
@media only screen and (max-width: 900px) {
  .upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container .upbro_browsers-item {
    float: none;
    width: 100%;
    padding-bottom: 30px;
  }
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container .upbro_browsers-item .upbro_browser-image {
  text-align: center;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container .upbro_browsers-item .upbro_browser-image img {
  width: 40%;
  height: auto;
}
@media only screen and (max-width: 900px) {
  .upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container .upbro_browsers-item .upbro_browser-image img {
    width: 20%;
  }
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container .upbro_browsers-item .upbro_browser-title {
  padding: 15px 0;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container .upbro_browsers-item .upbro_browser-bottom .upbro_browser-download {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #fff;
}
.upbro_main-container .upbro_description-container .upbro_description .upbro_browsers-container .upbro_browsers-item .upbro_browser-bottom .upbro_browser-download:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */